<form name="homeForm">
    <div class="row bottom-buffer">
        <div class="col-sm-12">
            <button class="btn btn-default" ng-click="search()">Search</button>
        </div>
    </div>
</form>
<div ng-show="dotsResponse.replays.length > 0">
    <div class="row bottom-buffer side-padding" ng-repeat="replay in dotsResponse.replays" ng-class-even="'w3-theme-l2'">
        <div class="row">
            <div class="col-sm-12 columns">
                <span class="game-info">{{replay.game_map}} - {{replay.game_date}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 columns">
                Player
            </div>
            <div class="col-sm-4 columns">
                Hero
            </div>
            <div class="col-sm-4 columns">
                Hero Level
            </div>
        </div>
        <div ng-repeat="player in replay.players" ng-class="{winner: player.winner == true}">
            <div class="row">
                <div class="col-sm-4 columns">
                    {{player.battletag}}
                </div>
                <div class="col-sm-4 columns">
                    {{player.hero}}
                </div>
                <div class="col-sm-4 columns">
                    {{player.hero_level}}
                </div>
            </div>
        </div>
    </div>
</div>