body {
    background-color: #616161;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.side-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.winner {
    color: #7442f4;
    font-weight: bold;
}

.game-info {
    font-style: italic;
}